.orders-page {
    background-image: url("../assets/back15.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-color: #ebf3e7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Tabs Section */
.tabs2 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 6.5%;
    align-items: flex-end;
    height: 80%;
    margin-top: 28px;
}

.tab-icon2 {
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 47px;
    height: 84px;
    justify-items: center;
    box-shadow: 0px 2.2px 1px -2px #008600;
    background: #00860010;
    border-radius: 2px 0 0 2px;
    
}

.tab-icon-q2 {
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 47px;
    height: 84px;
    justify-items: center;
    box-shadow: 0px 2.2px 1px -2px #008600;
    background: #00860010;
    border-radius: 2px 0 0 2px;
}

.tab-icon2.active,
.tab-icon-q2.active {
    background: #008600; /*ffee31*/
    border-radius: 3px 0 0 3px;
    width: 67px;
    height: 84px;
    border: 0px;
    opacity: 0.95;
}

.tab-icon-q2 img {
    height: 20px;
}

.tab-icon2:not(.active):hover,
.tab-icon-q2:not(.active):hover {
    background: #0086002b;
}

/*.tab-icon-r {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 47px;
    height: 45px;
    justify-items: center;
    transition: transform 0.3s ease-in-out;
}*/

.tab-icon-add2 {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 47px;
    height: 45px;
    justify-items: center;
    transition: transform 0.3s ease-in-out;
}

.tab-icon-add2:hover {
    background-color: transparent;
}

.tab-icon-add2:hover .icown,
.tab-icon-r:hover .icown {
    transform: scale(1.2);
    color: #0e0d00;
}

.tab-icon2.active .icown,
.tab-icon-q2.active .icown{
    transform: scale(1.4);
}


/* Content Area */
.content2 {
    padding-top: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.con3 {
    height: 100%;
    width: 100%;

}

.right-part {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.dropdown2 {
    position: relative;
    display: inline-block;
    z-index: 2;
    align-self: end;
    height: 28px;
    visibility: hidden;
}

.filter-btn2 {
    background: #008600;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-self: end;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Segoe UI';
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
    align-self: end;
    height: 28px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px 0px 2px 2px;
    right: 0;
}

.dropdown-content button {
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.dropdown-content button:hover {
    background: #9CD880;
    border-radius: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.filter-btn {
    background: #008600;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-self: end;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Segoe UI';
}

/* Orders Table */
.orders-table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80%;
    max-width: 200%;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-self: center;
    background: #fffcdf;
    border: 5px solid #008600;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    opacity: 0.95;
    box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.5);
}

/* Scrollbar Customization */
.orders-table-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.orders-table-wrapper::-webkit-scrollbar-track {
    background: #9CD880;
}

.orders-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #008600;
    border: 2px solid #9CD880;
}

/* Orders Table */
.orders-table {
    width: max-content;
    max-width: 200%;
    border-collapse: separate;
    border-spacing: 0;
}

.orders-table thead {
    position: sticky;
    top: 0;
    margin: 0;
    border: 1px solid #333;
    z-index: 2;
}

.orders-table th {
    padding: 10px;
    white-space: nowrap;
    width: 125px;
    border: 1px solid #625a0014;
}

.orders-table td {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid #625a0014;
    text-align: center;
}

.orders-table thead, .resizer2 {
    background-color: #9CD880;
}

.no-data-message {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: gray;
    padding: 20px;
    background-color: #fffcdf;
}

/* Resizer for Column Width */
.resizer2 {
    display: inline-block;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize;
}

.orders-table a {
    color: #009d00;
    text-decoration: none;
    font-weight: bold;
}

.orders-table a:hover {
    text-decoration: underline;
    color: #005e00;
}

.returns-table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80%;
    max-width: 200%;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-self: center;
    background: #fffcdf;
    border: 5px solid #008600;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    opacity: 0.95;
    box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.5);
}

/* Scrollbar Customization */
.returns-table-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.returns-table-wrapper::-webkit-scrollbar-track {
    background: #9CD880;
}

.returns-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #008600;
    border: 2px solid #9CD880;
}

.returns-table {
    width: 100%;
    max-width: 200%;
    border-collapse: separate;
    border-spacing: 0;
}

.returns-table thead {
    position: sticky;
    top: 0;
    margin: 0;
    border: 1px solid #333;
    z-index: 2;
}

.returns-table th {
    padding: 10px;
    white-space: nowrap;
    width: 125px;
    border: 1px solid #625a0014;
    text-align: center;
}

.returns-table td {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid #625a0014;
    text-align: center;
}

.returns-table thead, .resizer2 {
    background-color: #9CD880;
}

.delivery-table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80%;
    max-width: 200%;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-self: center;
    background: #fffcdf;
    border: 5px solid #008600;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    opacity: 0.95;
    box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.5);
}

/* Scrollbar Customization */
.delivery-table-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.delivery-table-wrapper::-webkit-scrollbar-track {
    background: #9CD880;
}

.delivery-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #008600;
    border: 2px solid #9CD880;
}

/* Orders Table */
.delivery-table {
    width: 100%;
    max-width: 200%;
    border-collapse: separate;
    border-spacing: 0;
}

.delivery-table thead {
    position: sticky;
    top: 0;
    margin: 0;
    border: 1px solid #333;
    z-index: 2;
}

.delivery-table th {
    padding: 10px;
    white-space: nowrap;
    width: 125px;
    border: 1px solid #625a0014;
}

.delivery-table td {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid #625a0014;
    text-align: center;
}

.delivery-table thead, .resizer2 {
    background-color: #9CD880;
}

.delivery-table a {
    color: #009d00;
    text-decoration: none;
    font-weight: bold;
}

.delivery-table a:hover {
    text-decoration: underline;
    color: #005e00;
}

.tabs-22 {
    display: flex;
    flex-direction: column;
    height: 7%;
    position: relative;
    margin-top: 40%;
    gap: 10px;
}

/* Action Buttons */
.action-cell2 {
    display: flex;
    flex-direction: row;
    height: 45.5px;
    align-items: center;
}

.divider2 {
    width: 60%;
    height: 1px;
    align-self: center;
    border: #00860077 1px inset;
}

.divider-2 {
    width: 1px;
    height: 100%;
    align-self: center;
    border: #00860077 1px inset;
    margin-top: 1%;
}

.ret-btn,
.archive-btn2,
.unarchive-btn2,
.track-btn {
    background-color: transparent;
    color: #008600;
    border: none;
    padding: 0px;
    cursor: pointer;
    font-family: "Segoe UI";
    display: flex;
    justify-content: center;
    position: relative;
}

.track-btn:disabled {
    color: #666; /* Darker text */
    cursor: default; /* Show "not allowed" cursor */
    opacity: 0.6; /* Slightly transparent */
}

.track-btn:disabled:hover {
    color: #666;
}

/*
.track-btn {
    margin-left: 12%;
}

.track-btn {
    margin-left: 2%;
    margin-right: 2%;
}

.archive-btn2 {
    margin-right: 3%;
}

.ret-btn {
    margin-left: 3%;
}
*/

.track-btn:hover, .archive-btn2:hover, .ret-btn:hover {
    color: #008300d3;
}

/* History Table */
.history-container2 {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fffcdf;
    border: 5px solid #008600;
    border-radius: 0px 5px 5px 5px;
    max-height: 80%;
    overflow-y: auto;
    justify-self: center;
    opacity: 0.95;
    box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.5);
}

.history-table2 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.history-table2 th {
    background-color: #9CD880;
    padding: 10px;
    text-align: left;
    border: 1px solid #625a0014;
}

.history-table2 td {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid #625a0014;
}


.history-container2::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.history-container2::-webkit-scrollbar-track {
    background: #fff15a;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.history-container2::-webkit-scrollbar-thumb {
    background-color: #8e8200;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 2px solid #fff15a;
}

/* Tooltip */
.tooltip2 {
    position: fixed;
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
    white-space: nowrap;
    z-index: 100;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    transform: translateX(-50%, -100%);
}

.tab-icon2:hover .tooltip2,
.convert-btn2:hover .tooltip2,
.archive-btn2:hover .tooltip2,
.unarchive-btn2:hover .tooltip2,
.track-btn:hover .tooltip2,
.return-btn:hover .tooltip2,
.add-order-btn2:hover .tooltip2,
.return-exchange-btn:hover .tooltip2 {
    visibility: visible;
    opacity: 1;
}

/* Modal Styles */
.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal-box2 {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-box2 h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.modal-buttons2 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 7%;
}

.convert-button, .new-order-btn {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    justify-items: center;
    padding: 2%;
    text-wrap: nowrap;
}

.convert-button {
    background: #008600;
    color: white;
}

.new-order-btn {
    background: #ffd000;
    color: black;
}

.convert-button:hover {
    background: #004d00;
}

.new-order-btn:hover {
    background-color: #d4ad00;
}

.modal-overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 15;
    justify-content: center;
    align-items: center;
}

.modal-box3 {
    background: #fffcdf;
    padding: 20px;
    width: 90%;
    height: 90%;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-box3 h2 {
    font-family: 'Century Gothic';
    font-weight: 1000;
    font-size: 28px;  
}

.modal-box3 p {
    font-family: 'Century Gothic';
    font-size: 17px;
    margin-bottom: 1px;
}

.modal-buttons3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    width: 20%;
}

.returns-table2 input {
    width: 50px;
    padding: 0;
    border: 1px solid #008600;
    border-radius: 2px;
    text-align: center;
}

.submit-btn-ord2, .cancel-btn-ord2 {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: fit-content;
    height: 55%;
    padding: 10px;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 13px;
}

.submit-btn-ord2 {
    background-color: #008600;
}

.submit-btn-ord2:hover {
    background: #005a00;
}

.cancel-btn-ord2 {
    background-color: #b52b27;
}

.cancel-btn-ord2:hover {
    background: #81110d;
}

.label-butts {
    display: flex;
    flex-direction: row;
    height: 12%;
    width: 90%;
    margin-top: 1%;
    justify-self: center;
}

.labeltext2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    width: 80%;
    height: 50%;
    align-self: center;
}


.labeltext2 label {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    width: 14%;
}

.labeltext2 textarea {
    width: 90%;
    height: 100%;
    outline: none;
    align-content: center;
    border: #008600 1px groove;
    font-family: 'Century Gothic';
    font-size: 14px;
    padding-left: 1%;
    padding-right: 1%;
}

.returns-table-wrapper2 {
    overflow-x: auto;
    overflow-y: auto;
    max-width: 200%;
    width: 90%;
    height: 75%;
    margin: 0;
    justify-self: center;
    background: #fffcdf;
    border: 5px solid #008600;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    opacity: 0.95;
    box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.5);
}

/* Scrollbar Customization */
.returns-table-wrapper2::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.returns-table-wrapper2::-webkit-scrollbar-track {
    background: #9CD880;
}

.returns-table-wrapper2::-webkit-scrollbar-thumb {
    background-color: #008600;
    border: 2px solid #9CD880;
}

.returns-table2 {
    width: 100%;
    max-width: 200%;
    border-collapse: separate;
    border-spacing: 0;
}

.returns-table2 thead {
    position: sticky;
    top: 0;
    margin: 0;
    border: 1px solid #333;
    z-index: 2;
}

.returns-table2 th {
    padding: 10px;
    white-space: nowrap;
    width: 125px;
    border: 1px solid #625a0014;
    text-align: center;
}

.returns-table2 td {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid #625a0014;
    text-align: center;
}

.returns-table2 thead {
    background-color: #9CD880;
}

.pdf-preview2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.pdf-preview2 .frame {
    border: #008600 1px groove;
    width: 100%;
    height: 85%;
}

.pdframe {
    background: #fffcdf;
    padding: 20px;
    width: 90%;
    height: 90%;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.submit-btn-ord3, .cancel-btn-ord3, .edit-btn-ord3 {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: fit-content;
    height: 55%;
    padding: 10px;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 13px;
}

.submit-btn-ord3 {
    background-color: #008600;
}

.submit-btn-ord3:hover {
    background: #005a00;
}

.edit-btn-ord3 {
    background-color: #ffd000;
    color: black;
    font-weight: bolder;
}

.edit-btn-ord3:hover {
    background: #d4ad00;
}

.cancel-btn-ord3 {
    background-color: #b52b27;
}

.cancel-btn-ord3:hover {
    background: #81110d;
}

.modal-buttons4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    height: 12%;
    width: 100%;
}